body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://file.garden/ZVWPh8PdJFNCIhss/Sites/OuterRangeWiki/taylor-brandon-WwE0YWMjwu8-unsplash.jpg');
  background-size: cover;
  background-repeat: none;
  
 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
}

li a {
  display: block;
  color: #000;
  background-color: rgb(150, 150, 150);
  padding: 15px;
  margin-top: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

.active {
  background-color: #049faa;
  color: black;
}

.card {
  background-color: rgba(209, 209, 209, 0.925);
}



/* The side navigation menu */
.sidebar,
li {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  /* position: fixed; */
  /*  height: 100%; */
  overflow: auto;
}

/* Sidebar links */
.sidebar a,
li {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #049faa;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}





/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 1000px) {
  
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}